body{
	background-color: rgb(223, 251,251);
	font-size: 100%;
}

.headingBox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 70px;
	background-color: rgb(34, 102, 102);
}

.heading{
	position: relative;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 3em;
	color: rgb(141, 182, 182);
	line-height: 0;
	padding-left: 80px;
	margin-top: 40px;
}

.logo{
	position: absolute;
	width: 50px;
	height: 50px;
	padding-left: 15px;
	padding-top: 10px;
}

#playGame{
	position: absolute;
	margin-left: 42.1%;
	margin-top: 23%;
}

#createListButton{
	position: absolute;
	margin-left: 42.7%;
	margin-top: 25%;
	background-color: rgb(90, 149, 149);
	color: rgb(209, 239, 239);
	padding: 1%;
	border: double;
	cursor: pointer;
}

#createListButton:hover {
    color: rgb(0,0,0);
}

#dropdownList{
    /*position: absolute;
    display: inline-block;
    margin-left: 50%;
    margin-top: 25%;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;*/
}

.dropdownContent{
    /*position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;*/
}

.dropdownList:hover .dropdownContent {
    /*display: block;*/
}

.helpButton {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.homeButton{
	position: absolute;
	bottom: 20px;
	left: 20px;
}

.fileUploadTab{
	position: absolute;
	right: 270px;
	top: 38px;
	border: none;
	padding: 10px;
	padding-bottom: 15px;
	border-radius: 10px;	
}

.customListTab{
	position: absolute;
	right: 125px;
	top: 38px;
	border: none;
	padding: 10px;
	padding-bottom: 15px;
	border-radius: 10px;
}

.manageListTab{
	position: absolute;
	right: 20px;
	top: 38px;
	border: none;
	padding: 10px;
	padding-bottom: 15px;
	border-radius: 10px;
}

.tabHider{
	position: absolute;
	top: 70px;
	right: 0px;
	height: 10px;
	width: 370px;
	background-color: rgb(223, 251,251);
}

.pageTitle {
	position: absolute;
	margin-left: 30%;
	margin-bottom: 10px;
	white-space: nowrap;
	overflow: hidden;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 2em;
}

.screenBody {
	position: relative;
	width: 100%;
	top: 70px;
}

.inputForm {
	position: relative;
	top: 100px;
	margin-left: 36%;
	background-color:  rgb(141, 182, 182);
	padding: 10px;
	white-space: nowrap;
	overflow: hidden;
	width:375px;
}

.puzzleUploadButton{
	position: absolute;
	margin-top: 125px;
	margin-left: 50%;
}

.puzzleSaveButton{
	position: absolute;
	margin-top: 200px;
	margin-left: 50%;
}

.helpBody{
	position: relative;
	width: 70%;
	padding: 45px;
	margin: 45px;
	margin-left: 10%;
	margin-right: 10%;
	word-break: break-all;
    white-space: normal;
}

.helpPageTitle{
	position: absolute;
	margin-top: 0;
	margin-left: 45%;
	margin-bottom: 10px;
	white-space: nowrap;
	overflow: hidden;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 2em;
}

table {
    position: absolute;
    margin-left: 25%;
    margin-right:25%;
	margin-top: 80px;
    color: #333; /* Lighten up font color */
    font-family: Helvetica, Arial, sans-serif; /* Nicer font */
    width: 640px;
    border-collapse:
    collapse; border-spacing: 0;
}
td, th {
    border: 1px solid #CCC; /* Add borders to cells */
    height: 30px;
    transition: all 0.3s;  /* Simple transition for hover effect */
}

th {
    background: #DFDFDF;  /* Darken header a bit */
    font-weight: bold; /* Make sure they're bold */
}

td {
    background: #FAFAFA; /* Lighter grey background */
    text-align: center; /* Center our text */
}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td { background: #F1F1F1; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */
tr:nth-child(odd) td { background: #FEFEFE; }

tr td:hover { background: #666; color: #FFF; }
/* Hover cell effect! */

/* For game screen */
#page{
    width:100%;
    max-width:1280px;
    margin:20px auto 20px auto;
}

section{
    clear:both;padding-top:20px;
}

#puzzle{
    padding:10px 0 10px 40px;
    font-size:1em;
    color:#555
}

#puzzle hr{
    margin:50px 0 0 0;
}

#puzzle .blkA,#puzzle .blkB{
    color:#555;
    width:600px;
    font-size:1.1em;
    font-weight:bold;
    margin:8px 0;
    text-shadow:0 .5px .5px #FFF;
}

#puzzle .blkB{
    width:220px;
    font-size:1em;
}

.download-image{
    border:1px solid #222
}

.pLeft,.pRight{
    display:inline-block;
    vertical-align:top;
    width:840px;
    position:relative;
}

.related li,.imgList li{
    display:inline-block;
    width:306px;
    border:1px solid #935109;
    position:relative;
    margin:6px;
}

.imgList li img{
    width:300px;
    height:278px;
}

.printBtn{
    display:inline-block;
    padding:4px 12px;
    border:1px solid #935109;
    border-bottom:0;
    position:absolute;
    left:76px;
    bottom:0;
    background:#ccc}

.related{
    margin:40px 0;
    padding:12px;
    background:#cad4a9;
}

.related li{
    width:200px;
}

.related li img{
    width:200px;
    height:185px;
}

#cmts{
    padding:40px 0;
}

.jqmWindow{
    display:none;
    position:fixed;
    top:50%;
    left:50%;
    width:800px;
    height:560px;
    margin-left:-400px;
    margin-top:-250px;
    background-color:#faffe4;
    padding:12px;
    border:8px solid #444
}

.jqmWindow h1{
    margin-top:0
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}